/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border:0;
  vertical-align:baseline;
}

/* Classes genéricas */
.esquerda { float:left; }
.clear { clear:both; }
.invisivel { display:none; }

/* Configurações gerais*/
html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
}

/* Menu principal */
.menu {
	position:absolute;
	z-index:9999;
	right:10px;
	top:10px;
	background-color:#fff;
}
	.menu ul { 
		list-style:none; 
		display:table-row; 
	}
		.menu ul li, 
		.menu ul li a {
			width:60px;
			height:60px;
			text-align:center;
			vertical-align:middle;
			display:table-cell;
			font-size:1.8em;
			font-style:normal;
			font-weight: 200;
			color:#747373;
		}
		.menu ul li.borda-baixo { border-bottom:1px solid #d5d5d5; }
		.menu ul li.borda-cima { border-top:1px solid #d5d5d5; }
		.menu ul li.borda-direita { border-right:1px solid #d5d5d5 }

/* Canvas */
#map-canvas {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas {
    height: 650px;
  }
}
