/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border:0;
  vertical-align:baseline;
}

/* Classes genéricas */
.esquerda { float:left; }
.clear { clear:both; }
.invisivel { display:none !important; }

/* Configurações gerais*/
html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
}

/* Canvas */
#map-canvas {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

/* Mobile first! */
/* Tela de entrada */
.entrada {
	position:absolute;
	z-index:10000;
	width:100%;
	height:100%;
	background:#fff;
	overflow:hidden;
}
	.entrada .imagem-intro {
		margin:0 auto;
		display:block;
		max-width:100%;
		max-height:100%;
	}

/* Menu principal */
.menu {
	position:absolute;
	z-index:9999;
	right:10px;
	top:10px;
	background-color:#fff;
	display:block;
}
	.menu ul { 
		list-style:none; 
		display:table-row; 
	}
		.menu ul li, 
		.menu ul li a {
			width:50px;
			height:50px;
			text-align:center;
			vertical-align:middle;
			display:table-cell;
			font-size:1.8em;
			font-style:normal;
			font-weight: 200;
			color:#747373;
			cursor:pointer;
		}
		.menu ul li a { margin-top:0.22em; }
		.menu ul li a:hover {
			background-color:#eaeaea;
		}
		
		.menu ul li.borda-baixo { border-bottom:1px solid #d5d5d5; }
		.menu ul li.borda-cima { border-top:1px solid #d5d5d5; }
		.menu ul li.borda-direita { border-right:1px solid #d5d5d5; }
		
		.botao {
			width:25px;
			height:25px;
			background-color:#fff;
			position:absolute;
			z-index:9999;
			top:47px;
			right:47px;
			border-radius:40px;
			-webkit-border-radius:40px;
			cursor:pointer;
			border:1px solid #d5d5d5;
		}
			.botao:hover { background-color: #d5d5d5; }
		
		.cor {
			width:25px;
			height:25px;
			position:absolute;
			border-radius:40px;
			-webkit-border-radius:40px;
			/*opacity:0.50;*/
		}
			.lilas { border-color:#4b0082; }
			.roxa { border-color:#9400d3; }
			.azul { border-color:#0000ff; }
			.verde { border-color:#008000; }
			.amarela { border-color:#ffff00; }
			.laranja { border-color:#ff8000; }
			.vermelha { border-color:#ff0000; }
			
			.primeira {
				border-width:2px;
				border-style:solid;
				top:46px;
				right:46px;
				z-index:9997;
			}
			.segunda {
				border-width:3px;
				border-style:solid;
				top:45px;
				right:45px;
				z-index:9996;
			}
			.terceira {
				border-width:4px;
				border-style:solid;
				top:44px;
				right:44px;
				z-index:9995;
			}
			.quarta {
				border-width:5px;
				border-style:solid;
				top:43px;
				right:43px;
				z-index:9994;
			}
			.quinta {
				border-width:6px;
				border-style:solid;
				top:42px;
				right:42px;
				z-index:9993;
			}
			.sexta {
				border-width:7px;
				border-style:solid;
				top:41px;
				right:41px;
				z-index:9992;
			}
			.setima {
				border-width:8px;
				border-style:solid;
				top:40px;
				right:40px;
				z-index:9991;
			}

.arco-iris {
	width:100%;
	position:absolute;
	z-index:9998;
	top:10px;
	display:block;
}
	.arco-iris * {
		width:100%;
		height:1px;
	}
	.arco-iris .vermelho { background-color: #ff0000; }
	.arco-iris .laranja { background-color: #ff8000; }
	.arco-iris .amarelo { background-color: #ffff00; }
	.arco-iris .verde { background-color: #008000; }
	.arco-iris .azul { background-color: #0000ff; }
	.arco-iris .roxo { background-color: #4b0082; }
	.arco-iris .lilas { background-color: #9400d3; }

/* Tela desktop */
@media screen and (min-width: 40.5em) {
		/* Menu principal */
		.menu ul li, 
		.menu ul li a {
			width:100px;
			height:100px;
			font-size:2.6em;
		}
		.botao {
			width:40px;
			height:40px;
			top:92px;
			right:90px;
		}
		
		.arco-iris * {
			height:2px;
		}
		
		.cor {
				width:40px;
				height:40px;
		}
			.primeira {
				border-width:4px;
				top:89px;
				right:87px;
				z-index:9997;
			}
			.segunda {
				border-width:6px;
				border-style:solid;
				top:87px;
				right:85px;
				z-index:9996;
			}
			.terceira {
				border-width:8px;
				border-style:solid;
				top:85px;
				right:83px;
				z-index:9995;
			}
			.quarta {
				border-width:10px;
				border-style:solid;
				top:83px;
				right:81px;
				z-index:9994;
			}
			.quinta {
				border-width:12px;
				border-style:solid;
				top:81px;
				right:79px;
				z-index:9993;
			}
			.sexta {
				border-width:14px;
				border-style:solid;
				top:79px;
				right:77px;
				z-index:9992;
			}
			.setima {
				border-width:16px;
				border-style:solid;
				top:77px;
				right:75px;
				z-index:9991;
			}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas {
    height: 650px;
  }
}
